name: Update Release Tags
on:
  push:
    tags: ['*']
  workflow_dispatch:
jobs:
  update-release-tags:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: RageAgainstThePixel/update-action-release-tags@v1
