name: validate
on:
  schedule:
    - cron: '0 0 * * 0' # Run every Sunday at midnight
  push:
    branches: [main]
  pull_request:
    branches: ['*']
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github/
      - uses: RageAgainstThePixel/job-builder@v1
        id: setup-jobs
        with:
          build-options: ./.github/workflows/build-options.json
          group-by: 'os'
    outputs:
      jobs: ${{ steps.setup-jobs.outputs.jobs }}
  validate:
    if: ${{ needs.setup.outputs.jobs }}
    needs: setup
    name: ${{ matrix.jobs.name }}
    permissions:
      contents: read
    strategy:
      matrix: ${{ fromJSON(needs.setup.outputs.jobs) }}
    secrets: inherit
    uses: ./.github/workflows/build.yml
    with:
      matrix: ${{ toJSON(matrix.jobs.matrix) }}
